{% extends "base.html" %}
{% block title %}{{ post.title|truncatechars:30 }}{% endblock %}
{% block content %}
{% load thumbnail %}
{% load user_filters %}
<style>
  textarea {
  width: 100%; /* Ширина поля в процентах */
  height: 70px; /* Высота поля в пикселах */
  }
</style>
<div class="container">
  <div class="row">
    <div class="videoplayer col-sm">
        {% thumbnail post.video "1600" crop="center" upscale=True as vid %}
        <video
                id="my-video"
                class="video"
                controls
                preload="auto"
                data-setup="{}"
                autoplay
            >
          <source src="{% url 'posts:stream' post.pk %}" type="video/mp4"/>
          <source src="{% url 'posts:stream' post.pk %}" type="video/webm"/>
          {% endthumbnail %}
        </video>
    </div>
    <div class="col-sm">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <b>Дата публикации:</b><br> {{ post.pub_date|date:"d E Y" }}
        </li>
        {% if post.group %}
          <li class="list-group-item">
            <b>Группа:</b>
            <a href="{% url 'posts:group_list' post.group.slug %}">{{ post.group.title }}</a>
          </li>
        {% endif %}
        <li class="list-group-item">
          <b>Автор:</b>
          <a href="{% url 'posts:profile' post.author %}">{{ post.author.get_full_name }}</a>
        </li>
        <li class="list-group-item">
          <b>Описание:</b> <br> {{post.description}}
        </li>
      </ul>
    </div>
      <p>
        {{ post.text|linebreaks }}
      </p>
      {% if post.author == user %}
      <a href="{% url 'posts:post_edit' post.pk %}">редактировать запись</a>&nbsp;&nbsp;&nbsp;
      <a href="{% url 'posts:post_delete' post.pk %}">удалить запись</a>
      {% endif %}
  </div>
  {% if user.is_authenticated %}
        <div class="card my-4">
          <h6 class="card-header">Добавить комментарий:</h6>
          <div class="card-body">
            <form method="post" action="{% url 'posts:add_comment' post.id %}">
              {% csrf_token %}
              <div class="form-group mb-4 textarea">
                {{ form.text|addclass:"form-control" }}
              </div>
              <button type="submit" class="btn btn-primary">Отправить</button>
            </form>
          </div>
        </div>
      {% else %}
      <div class="card my-4">
          <h6 class="card-header">Войдите, чтобы оставлять комментарии!</h6>
      </div>
      {% endif %}
      {% for comment in comments %}
        <div class="media mb-4">
          <div class="media-body">
            <h5 class="mt-0">
              <a href="{% url 'posts:profile' comment.author.username %}">
                {{ comment.author.get_full_name }}
              </a>
            </h5>
              <p>
              {{ comment.text }}
              {% if post.author == user %}
              <br>
              <a href="{% url 'posts:delete_comment' comment.pk %}">удалить запись</a>
              {% endif %}
              {% if not forloop.last %}<hr>{% endif %}
          </div>
        </div>
      {% endfor %}
</div>
{% endblock %}